.card_ap {
  margin: 30px;
  height: fit-content;
  width: fit-content;
  border-radius: 20px;
  padding: 50px;
  text-align: center;
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card_ap:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.cont {
  display: flex;
  justify-content: space-around;
}

.card_ap p {
  margin-top: 10px;
  font-size: 50px;
  color: blueviolet;
}

.card_ap a {
  cursor: pointer;
  text-decoration: none;
}
